.skills-container {
  flex-direction: column;
  justify-content: space-between;
  min-height: 520px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/Skillsbg/bg.jfif");
}

.skills-container .skills-title h1 {
  color: rgb(10, 10, 10);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
}

.skills-container .skills-title button {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: unset;
  margin-left: 7px;
  font-size: 19px;
}

.skills-container .skills-list h2 {
  color: rgb(4, 4, 4);
  margin-left: 10px;
  font-size: 30px;
  padding-top: 10px;
  font-weight: 900;
}

.skills-container .skills-list .item {
  width: 160px;
  height: 160px;
  position: relative;
  list-style: none;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgb(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgb(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgb(255, 255, 255, 1), 0.5px 0.5px 0px rgb(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

.angular {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

.javascript {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim70 2s linear forwards;
}

.html {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animhtml 2s linear forwards;
}

.reactjs {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animreact 2s linear forwards;
}

.aspmvc {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animmvc 2s linear forwards;
}

.webapi{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animwebapi 2s linear forwards;
}

.nodejs {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animhalf 2s linear forwards;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 94.4;
  }
}

@keyframes anim70 {
  100% {
    stroke-dashoffset: 142;
  }
}

@keyframes animhtml {
  100% {
    stroke-dashoffset: 85;
  }
}

@keyframes animreact {
  100% {
    stroke-dashoffset: 236;
  }
}

@keyframes animmvc {
  100% {
    stroke-dashoffset: 118;
  }
}

@keyframes animwebapi {
  100% {
    stroke-dashoffset: 188;
  }
}

@keyframes animhalf {
  100% {
    stroke-dashoffset: 236;
  }
}

.skills-container .skills-list span {
  color: rgb(8, 6, 6);
  font-size: 20px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
