.cfooter-container {
  justify-content: center;
  object-fit: cover;
}

.cfooter-parent img {
  width: 100%;
  max-width: fit-content;
  max-width: 100%;
  height: 101px;
  background-color: rgb(113 117 116 / 13%);
 
}

@media only screen and (max-width: 1110px) {
  .footer-parent {
    display: flex;
    align-items: flex-end;
  }
}
